* { box-sizing: border-box; }
body {
    background: linear-gradient(to bottom, #ff9a9e, #fad0c4);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
}
.container { width: 100%; text-align: center; }

h1 { 
    color: #d63384; 
    font-size: 2.2rem; 
    padding: 0 10px;
    margin-bottom: 50px;
}

.buttons {
    display: flex;
    justify-content: center; /* Aju-baju ke liye */
    align-items: center;
    gap: 15px; /* Thoda gap */
    position: relative;
    height: 100px;
}

button {
    padding: 15px 30px; /* Choti aur clean border */
    font-size: 1.4rem;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
}

#yesBtn { 
    background-color: #ff4d6d; 
    color: white; 
    z-index: 10;
}

#noBtn { 
    background-color: #ffffff; 
    color: #d63384;
    transition: 0.1s;
    z-index: 100;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 20px;
    width: 90%;
    margin: auto;
}

.hidden { display: none; }
.yay { font-size: 2.5rem; color: #d63384; margin-bottom: 15px; }
